# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Ignore eslint reports used for CI in case someone generates them locally
eslint_report.json

# Ignore any compressed archives we might create with build process
*.zip
*.7z

# Ignore package-changed computed hash
.packagehash

# Ignore HTML example of all icons. This doesn't need to be deployed
public/icon-sprite/icon-symbols-example.html

# This is ignored by next.js default template generator
next.env.d.ts
